.login-button{
    margin: 0 auto;
    padding: 0 8px;
    padding-top:6px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.login-button:hover{
    border:1px solid white;
    text-decoration: none;
    color:yellow;
}